@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=PT+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    user-select: none;
}

body {
    background-color: #fefefe;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header {
    position: absolute;
}

/* Create equal columns */
.column {
    flex: 1;
    padding: 10px;
    width: 100%;
    min-height: 100vh;
}

.row {
    display: flex;
}

/* color chart */

.Eblack {
    background-color: #111d13;
}

.Mblue {
    background-color: #6256F2;
}

.Apink {
    background-color: #EC9EC1;
}

.Porange {
    background-color: #f8a229;
}

.Ogreen {
    background-color: #407517;
}

.gradient {
    background: radial-gradient(circle at 50% 120%, #111d13, rgba(0, 0, 0, 0.58) 10%, #6256F2 80%, #EC9EC1 100%);
}

/* font */

.primary_font {
    font-family: 'Fira Sans', sans-serif;
}

.secondary_font {
    font-family: 'PT Sans', sans-serif;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 25px;
}

nav ul {
    margin: 25px;
    padding-left: 50px;
    padding-right: 50px;
    color: #E7E5DF;
    position: relative;
    text-decoration: none;
}

nav ul li a {
    color: #E7E5DF;
    font-weight: 400;
}

.logo {
    font-size: 20px;
    font-weight: 600;
}

.c_btn {
    padding: 13px 24px;
    margin: auto 0;
    border-radius: 56px;
    letter-spacing: .5px;

    font-weight: 900;
    text-align: center;
    position: relative;
    right: 10px;
    z-index: 10;
    background-color: #111d13;
}

.page {
    align-items: center;
    justify-content: center;
    display: flex;

}

/* circle shape */

.circle {
    height: 110px;
    width: 110px;
    border: 2px solid #111d13;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    overflow: hidden;
}

.abs {
    color: #111d13;
    position: absolute;
    top: 80%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    z-index: 10;
}

/* column 1 */
.content {
    justify-content: center;
    align-items: center;
    display: flex;
}

.text_box {
    width: 35vw;
}

div h1 {
    font-size: 4em;
    color: #E7E5DF;
}

div h2 {
    font-size: 1.24em;
    margin-bottom: 20px;
    color: #E7E5DF;
}

div h3 {
    color: #e7e5df7a;
    font-size: 14px;
}

#pink {
    color: #EC9EC1;
}

/* column 2 */

.box {
    margin-top: 85px;
    height: 500px;
    width: 400px;
    border: 1px solid #EC9EC1;
    border-radius: 36px;
    padding: 25px;
    display: flex;
    overflow: hidden;
    backdrop-filter: blur(10px);

}

/* background images and color */

.img {
    position: absolute;
    height: 100vh;
    width: 50%;
    overflow: hidden;
    z-index: -10;
}

#b_img {
    width: 100%;
    opacity: 40%;
}

.grad_box {
    position: absolute;
    height: 100vh;
    width: 50vw;
    overflow: hidden;
    z-index: -11;
}

/* content inside calculator tab */

.calc_nav { /* small nav */
    width: 100%;
    height: 50px;
    border-radius: 26px;
    background-color: #111d13;
}

.btn_active {
    font-weight: 400;
    padding: 25px;
    height: 35px;
    line-height: 0;
    border-radius: 24px;
    border-style: none;

    background-color: #f8a229;
    color: #E7E5DF;
    cursor: pointer;
}

.btn_click {
    color: #E7E5DF;
    padding: 15px;
    height: 35px;
    line-height: 0;
    border-radius: 24px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.transition {
    transition: all .5s ease-out;
}

#frame { /* video frame inside small nav */
    width: 70px;
    height: 30px;
    position: absolute;
    left: 50px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 36px;
}

.calc_content {
    width: 100%;
    display: flex;
    height: min-content;
}

.grid_box {
    display: grid;
    grid-template-columns: auto;
    /* background-color: #2196F3; */
    width: 100%;
}

.grid_top {
    padding: 20px;
    font-size: 30px;
    text-align: right;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 

.input_wrap {
    width: 90px;
    display: inline-block;
    align-self: flex-end;
    height: auto;
}

.input_label {
    display: flex;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #E7E5DF;
}

.input_box {
    display: flex;
    border-bottom: 1px solid #111d138a;
    width: 250px;
    background: transparent;
}


.inputCalc {
    height: 40px;
    width: 210px;
    padding: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    color: #ecd49e;
    font-weight: 800;
}

.symbol {
   
    background: #111d13;
    border-radius: 3px 0 0 3px;
    font-weight: 900;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    width: 38px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ec9ec1;
}

.grid_input {
    padding: 20px;
}

#switch {
    font-size: 30px;
    position: fixed;
    cursor: pointer;
}

#switch:hover {
    transform: scale(1.2);
}

#check {
    position: absolute;
    width: 40px;
    right: 50px;
    visibility: hidden;
    cursor: pointer;
}

.btn {
    background-color: transparent;
    outline: none;
    border-style: none;
}

/* Portfolio tab content  */

select {
    font-family: 'FontAwesome';
    font-size: 25px;
    margin-left: 10px;
    padding-left: 5px 5px;
    cursor: pointer;
    position: relative;
}

option {
    background-color: #E7E5DF;
}

.inputBorder {
 border: none;
 margin-bottom: 10px;
}

.pInput {
    height: 40px;
    width: 180px;
    padding: 8px;
    padding-right: 15px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: #ecd49e;
    font-weight: 800;
    text-align: right;

}

.assetBox {
    width: 80px;
    background-color: transparent;
    color: #EC9EC1;
    border: none;
    outline: none;
}


.pSymbol {
    display: flex;
    background: #111d13;
    border-radius: 3px;
    padding: 10px 15px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-weight: 600;
    color: #EC9EC1;
    cursor: pointer;
}

.divide {
    margin-bottom: 5px;
}

.plus {
    display: flex;
    background: #e7e5dfc5;
    border-radius: 3px;
    padding: 8px 15px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-weight: 900;
    color: #111d13;
    cursor: pointer;
    float: right;
    font-size: 20px;
    
}

#net_worth {
    background-color: #fefefe;
    position: relative;
    left: 21px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 900;
    text-align: right;
    padding: 8px;
    margin-right: 18px;
    width: 172px;
    /* z-index: -2; */
    border-radius: 3px 0 0 3px;
}

.submit_style {
    display: flex;
    background: #e7e5dfc5;
    border-radius: 3px;
    padding: 8px 15px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-weight: 900;
    color: #111d13;
    cursor: pointer;
    float: right;
    font-size: 20px;
    margin-right: 10px;
   
}

#submit:hover {
    transform: scale(1.4);
}

#plus_btn:hover {
    transform: scale(1.4);
}

.grid_input.portfolio {
    display: none;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar { /* Scroll bar used from w3 pages */
    width: 20px;
    height: auto;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ec9ec1; 
    border-radius: 10px;
    margin-bottom: 65px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ec9ec162; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ec9ec193; 
  }

/* Information icon */

.info_icon {
    position: relative;
    float: right;
    padding: 10px;
    margin-top: 8px;
    margin-right: 155px;
    font-size: 30px;
    font-weight: 300;
    color: #6256F2;
    width: fit-content;
    cursor: pointer;
}

.info_icon:hover {
    transform: scale(1.2);
}

