@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    user-select: none;
    vertical-align: top;
}

body {
    font-family: 'Roboto', 'sans-serif', 'Arial', 'Helvetica', 'sans-serif';
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure the body takes at least the full viewport height */
    background-color: #000000;
}

/* Header bar */

nav {
    align-items: center;
    background-color: #0d0d0d;
    border-bottom: solid 0.5px #f1f1f13f;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    color: white;
    text-align: center;
    font-size: 24px;
    width: 100%;
    z-index: 100;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    display: flex;
    align-items: center;

}

.nav-logo {
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: left;

}

.nav-btn {
    /* Remove the width and padding properties to allow the element to take the necessary width */
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the content horizontally */
    flex-grow: 1;
    /* Allow the element to grow and take up available space */
}

.meta-btn {
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Push the content to the right side */
}

#logo {
    width: 50px;
}

.crypto_logo {
    width: 15px;
    height: auto;
}

#crypto_logo_meta {
    width: 34px;
    height: auto;
}

.layered-blocks {
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-left: 2px;
}

.price-text {
    font-size: 11px;
    padding-left: 12px;
    color: #999999;
}

.line {
    padding: 12px;
}

.tag-text {
    color: #999999;
    text-align: left;
}

.tag-text-2 {
    color: #999999;
    text-align: left;
    margin-left: -34px;
}

main {
    flex: 1;
    /* Allow the main section to take the remaining vertical space */
    padding: 20px;
    text-align: center;
}

/* main form for conent */

form {
    max-width: 378px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    background-color: #1a1a1a;
}

/* Oku calc */

/* Style the tooltip container */
.tooltip-container {
    position: relative;
}

/* Style the tooltip text */
.tooltip-btn::after {
    content: attr(title);
    /* Display the 'title' attribute value as the tooltip text */
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background-color: #999999;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    white-space: normal;
    /* Allow the text to wrap to multiple lines */
    max-width: 200px;
    /* Set a maximum width for the tooltip box */
}

/* Show the tooltip when hovering over the element */
.tooltip-btn:hover::after {
    display: block;
}

/* Adjust tooltip placement if it goes off the top */
.tooltip-btn:hover::before {
    content: "";
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 8px solid transparent;
    border-bottom-color: transparent;
}

.tooltip-btn:hover::after,
.tooltip-btn:hover::before {
    display: block;
    z-index: 999;
}

/* Ensure tooltip doesn't go off the left or right */
.tooltip-btn:hover::after {
    /* Add this to adjust the left position if it goes off the left */
    left: calc(50% + min(-100px, -50%));
    /* Add this to adjust the left position if it goes off the right */
    right: calc(50% + min(-100px, 50%));
}


.input_label {
    width: 150px;
    display: flex;
    color: #E7E5DF;
    font-weight: 500;
    margin-bottom: 5px;
}


input {
    width: 80%;
    height: 38px;
    display: flex;
    padding: 10px;
    outline: none;
    margin-left: -4px;
    margin-top: 0px;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(26, 26, 26);
    color: rgb(241 241 241 / 82%);
    z-index: 0;
}

.input_box {
    display: flex;
    width: 100%;
    background: transparent;
}


.grid_box {
    display: grid;
    grid-template-columns: auto;

}

.grid_top {
    padding: 10px;
    font-size: 30px;
    text-align: right;
}

.grid_input {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 35px;
    padding-top: 20px;
}

.text_box {
    padding: 10px;
    color: #f1f1f175;
    font-size: 16.5px;
}

#check {
    display: none;
}

#switch {
    font-size: 25px;
    position: absolute;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #999999;
    margin-left: 15px;
    margin-top: 2px;
    transform: rotate(90deg);
}

/* Text information with link */

#link {
    color: #a96a32;
}

/* Probability bar */

.bar {
    width: 75%;
    height: 10px;
    border: 1px solid #eeeeee57;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    background: rgb(38 38 38);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.clear {
    width: 100%;
    height: -webkit-fill-available;

}

.likely {
    width: 75%;
    height: 48px;
    background: #999999cc;
    display: none;
}

.maybe {
    width: 50%;
    height: 48px;
    background: #999999cc;
    display: none;
}

.unlikely {
    width: 25%;
    height: 48px;
    background: #999999cc;
    display: none;
}

.impossible {
    width: 0%;
    height: 48px;
}

h3 {
    margin-top: 20px;
}

.calc_nav {
    width: 100%;
}

.symbol {
    background: rgb(51 51 51);
    border-radius: 3px 0px 0px 3px;
    font-weight: 100;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    width: 38px;
    height: 37.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #a96a32;
    z-index: 1;
}

.btn_active {
    font-weight: 600;
    padding: 0 26px;
    height: 35px;
    line-height: 0;
    border-radius: 16px;
    border-style: none;
    background-color: #ff9332;
    color: #111d13;
    cursor: pointer;

}

.btn_click {
    padding: 15px;
    height: 35px;
    line-height: 0;
    border-radius: 24px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    color: #e7e5df;
    font-weight: 600;
}

/* Portfolio */

.portfolio {
    display: none;
}

.pInput {
    /* Portfolio input box */
    padding: 12px;
    border: none;
    outline: none;
    height: 16px;
    border-radius: 0 3px 3px 0;
    margin-top: 10px;
    width: 155px;
}


.input_label_p {
    width: 150px;
    display: flex;
    color: #E7E5DF;
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: 15px;
}

.assetBox {
    width: 80px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #a96a32;
    border-radius: 3px 0 0 3px;
}

select {
    font-family: 'FontAwesome';
    font-size: 20px;
    margin-left: 1px;
    padding-left: 20px;
    cursor: pointer;
    position: relative;
}

option {
    background-color: #E7E5DF;
}

.divide {
    margin-bottom: 5px;
}

.plus {
    display: flex;
    background: #e7e5df;
    border-radius: 3px;
    padding: 5px 10px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-weight: 900;
    color: #111d13;
    cursor: pointer;
    float: right;
    height: 30px;
    font-size: 20px;
    width: 30px;
    margin-top: 12px;
}

#net_worth {
    position: relative;
    left: 33px;
    font-size: 15px;
    font-weight: 900;
    text-align: right;
    padding: 8px;
    margin-right: 42px;
    width: 169px;
    border-radius: 3px 0 0 3px;
    margin-bottom: 5px;
    margin-top: 12px;
    height: 30px;
    z-index: 0;
}

.pSymbol {
    /* Close btn */
    border-radius: 3px;
    padding: 5px 10px;
    font-weight: 600;
    color: #999999cc;
    cursor: pointer;

}

.submit_style {
    display: flex;
    background: #999999cc;
    border-radius: 3px;
    padding: 5px 10px;
    height: 30px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-weight: 900;
    color: #111d13;
    cursor: pointer;
    font-size: 20px;
    margin-right: -5px;
    position: relative;
    right: 10px;
    margin-top: 12px;
    z-index: 1;

}

/* Style the input number field to hide the arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Footer content */

.social_title {
    font-size: 14px;
    padding: 5px 0 2px 0px;
}

.social_title_1 {
    padding: 0 5px 0 0;
}

.socials {
    font-size: 22px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#dev {
    font-size: 12px;
    padding: 0 0 0 5px;
    line-height:  18px;
}

.icons {
    padding: 9px;
}

.icons:hover {
    color: #a96a32;
    transition: all 20ms;
}

footer {
    background-color: #0d0d0d;
    color: #999999;
    padding: 10px;
    text-align: center;
    width: 100%;
}

footer a {
    color: #999999af;
    text-decoration: none;
    margin: 0 10px;
}




@media (min-width: 1281px) {

    .crypto_logo {
        width: 18px;
    }

    .layered-blocks {
        font-size: 15px;
    }


}


@media (max-width: 1280px) {

    .crypto_logo {
        width: 16px;
    }

    .layered-blocks {
        font-size: 15px;
    }


}

@media (max-width: 571px) {

    .layered-blocks {
        padding: 0px;
    }

    #crypto_logo_meta {
        width: 45px;
    }

}

@media (max-width: 500px) {

    .layered-blocks {
        padding: 0px;
    }

    .tag-text {
        display: none;
    }

    .tag-text-2 {
        display: none;
    }

    .tooltip-btn::after {
        right: 40px;
        transform: translateX(10%);
        transform: translateY(-10%);
        /* Allow the text to wrap to multiple lines */
        max-width: 150px;
        /* Set a maximum width for the tooltip box */
    }

}

@media (max-width: 412px) {

    .calc_nav {
        width: 90%;
    }

    .text_box {
        font-size: 12px;
        word-break: break-all;
        max-width: 340px;
    }

}

@media (max-width: 396px) {
    .portfolio-active .grid_input {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media (max-width: 378px) {
    #logo {
        width: 42px;
    }

    .crypto_logo {
        width: 10px;
        height: auto;
    }

    #crypto_logo_meta {
        width: 40px;
    }

    .line {
        padding: 10px 5px 10px 10px;
    }

    .portfolio-active .grid_input {
        padding-left: 2px;
    }

    .off {
        display: none;
    }

  }

  @media (max-width: 320px) {

    #crypto_logo_meta {
        width: 32px;
    }

    .meta-btn {
        padding: 10px 10px 10px 15px;
    }

    #switch {
        font-size: 18px;
    }

    .oku_icon {
        font-size: 15px;
    }

    .calc_nav {
        width: 90%;
    }

    .text_box {
        max-width: 250px;
    }

    .input_box {
        width: 94%;
    }

    #net_worth {
        left: 17px;
    }

    .submit_style {
        right: 26px;
    }

    .plus {
        right: 15px;
        position: relative;
    }

}

@media (max-width: 319px) {

    .assetBox {
        width: 68px;
    }

    .calc_nav {
        width: 95%;
    }

    .grid_input {
        padding-left: 23px;
        padding-right: 33px;
    }

    .input_label {
        font-size: 12px;
    }

    #net_worth {
        width: 135px;
    }
    
    input {
        font-size: 12px;
    }

    .portfolio-active .grid_input {
        padding-left: 0px;
    }

    .pInput {
        width: 124px;
    }

    .btn_click {
        font-size: 11px;
    }

    .btn_active {
        font-size: 12px;
    }

    .text_box {
        max-width: 259px;
    }

}